[submodule "libs/ddnet_demo"]
	path = libs/ddnet_demo
	url = https://github.com/Teero888/ddnet_demo
[submodule "libs/ddnet_ghost"]
	path = libs/ddnet_ghost
	url = https://github.com/Teero888/ddnet_ghost
